## Explore JSON files

Some of the information was shared as JSON files, so I find it easier to parse them with Python and write them to the database from here.

In [8]:
# Imports
import pandas as pd
from PsqlConn import create_psql_engine

In [10]:
# Read raw json files
users = pd.read_json('raw_data/users.json')
moodtracker = pd.read_json('raw_data/mood_tracker.json')

In [12]:
users.head()

                                     id      name  companyId  industryId  age
0  7eaa8c24-caeb-4736-a907-10531a2e0617     Amari          3           1   29
1  29806e90-4705-40be-9a0d-2a6300118c45    Willow          4           1   19
2  fd44a7c3-0bb8-4e90-944c-bb39ff152b99  Sterling          4           3   23
3  a24e83f4-4baf-46eb-81c8-e7fefd2c5638      Enid          4           1   21
4  4c316039-6b32-4fdf-bd02-832ce58f7fd8     Cayla          1           3   38

In [13]:
moodtracker.head()

,_id,userId,trackedAt,mood,reasonId
0,f0ed2548-dc73-45be-ac19-005331bfdd70,05733a01-7fda-4295-8ca4-1962ec5df898,2020-01-09 02:55:06,ok,57d9dc1ee66d040ed4e496a9
1,5bc270e5-2293-4eb6-b760-e2ef9e44daa2,57ccba4e-8df5-4d6e-a791-e47311196f0f,2020-01-15 15:54:53,angry,57db1d11e66d090e6410b868
2,394fb904-8c96-45e2-836e-2efdaa167c1a,5706369b-f2e5-4960-a45f-4aa22161fa3b,2020-01-22 01:39:22,angry,5c6c2a2a9c79eca733d4dd23
3,c5ede79a-f474-4a96-a6b4-0ec8119d9f73,e0be2515-b159-4dcb-9e50-85de5acefe6b,2020-01-31 12:52:46,happy,57d9dc21e66d040ed4e496c7
4,fa45550d-6a9c-4e8e-90e6-d73cc7202179,908138a6-fc5b-42cf-8cd4-0ac5ce0bdb1c,2020-01-09 19:50:06,ok,"ObjectId(""5c6c2a229c79eca733d4dd16"")"

In [24]:
# Lowercase the column names for consistency
users.columns = map(str.lower, users.columns)
moodtracker.columns = map(str.lower, moodtracker.columns)

# The moodtracker table id column is named _id, let's remove the _ for consistency
moodtracker.columns = [x.strip('_') for x in moodtracker.columns.values]

In [25]:
users.head(1)

                                     id   name  companyid  industryid  age
0  7eaa8c24-caeb-4736-a907-10531a2e0617  Amari          3           1   29

In [26]:
moodtracker.head(1)

,id,userid,trackedat,mood,reasonid
0,f0ed2548-dc73-45be-ac19-005331bfdd70,05733a01-7fda-4295-8ca4-1962ec5df898,2020-01-09 02:55:06,ok,57d9dc1ee66d040ed4e496a9

In [27]:
# Create psql engine for SQLalchemy
engine = create_psql_engine()

# Write tables to db
users.to_sql('users', engine, if_exists='replace', index=False)
moodtracker.to_sql('moodtracker', engine, if_exists='replace',index=False)